
.row {
  margin: 10px;
  width: 350px;
  height: 250px;
}

.specialTitle {
  font-family: 'Orbitron', serif;
}

.card-deck {
  display: flex;
  background-color: rgba(212, 253, 211, .5);
  flex-wrap: wrap;
  justify-content: center;
}


// @media (max-width: 1185px) {
//   .jokeDeck {
//     column-count: 2;
//   }
//   .humorDisplay {
//     padding: 20px;
//     margin: 20px;
//   }
// }
