.jokeBox {
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  // margin: 15% auto 0;
  // max-width: 800px;
  padding: 1.5rem;
  background-color: #EEEEEE;
  border: 2px solid #ABABAB;
}

.formH3 {
  text-align: center;
  color: #ABABAB;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 60px
}
