$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

body {
  background-image: url('https://daveordavid.github.io/dj5k/images/lawnbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.mainContainer, {
  padding: 20px;
  font-family: 'Cutive', serif;
}

.humorDisplay {
  padding: 50px;
  margin: 50px 70px;
  font-family: 'Cutive', serif;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;
  padding: 1.5rem;
  background-color: #EEEEEE;
  border: 2px solid #ABABAB;


  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}
