.homeBox {
  background-color: rgba(76, 76, 178, 0.6);
  transition: background 2s;
  font-family: 'Cutive', serif;
  padding: 30px;
  background-position: center;
  height: 300px;
}

.homeBox:hover {
  background-color: rgba(255, 255, 255, .7);
}

.carousel-inner h3 {
  font-family: 'Cutive', serif;
  color: black;
}

.carousel-inner img {
  margin: auto;
  max-width: 800px;
  max-height: 800px;
}
