.homeBox {
  background-color: rgba(76, 76, 178, 0.6);
  transition: background 2s;
  font-family: 'Cutive', serif;
  padding: 30px;
  background-position: center;
  height: 300px;
}

.homeBox:hover {
  background-color: rgba(255, 255, 255, .7);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators li {
  filter: invert(100%);
}

.carousel-inner h3 {
  max-width: 800px;
  font-family: 'Cutive', serif;
  color: black;
  font-size: 32px;
}

.carousel-inner img {
  margin: auto;
  max-width: 800px;
  max-height: 800px;
}
